.form-control{
width: 300px;
padding: 10px;
margin-bottom: 30px;
}
.form-group{
    display: block;
    justify-items: center;
}

.centralizar{
    display: flex;
    justify-content: center;
}
.left{
    margin-left: 596px;
}
.componente{
    margin-bottom: 90px;
    margin-top: 50px;
}
