<div class="pedro">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/paracetamol2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/vitamina.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/dorflex.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div></div>